<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="~/Content/custom.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body class="bg">
    <div id="backdrop">
        <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark">
            <div class="container">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
                <a class="navbar-brand" href="/">Mike's Scraper</a>
                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav mr-auto">
                        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
                        <li class="nav-item"><a href="/Home/About" class="nav-link">About</a></li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item"><a href="/Stocks" class="nav-link">Stocks</a></li>
                            <li class="nav-item"><a href="/Stocks/History" class="nav-link">History</a></li>
                        }
                    </ul>

                    @Html.Partial("_LoginPartial")

                    @*<ul class="nav navbar-nav navbar-right">
            <li class="nav-item"><a href="/Account/Register" id="registerLink" class="nav-link">Register</a></li>
            <li class="nav-item"><a href="/Account/Login" id="loginLink" class="nav-link">Log in</a></li>
        </ul>*@

                </div>
            </div>
        </nav>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Michael DAntuono</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
