@model IEnumerable<WebScraper.Models.Stock>

@{
    ViewBag.Title = "Index";
}

<h2>Stocks</h2>

<p>This page will show your stocks portfolio.</p>
<button style="color:white" class="btn btn-success">@Html.ActionLink("Scrape", "Scrape", "Stocks")</button>
@*<button class="btn btn-primary">@Html.ActionLink("Test Scrape", "TestScrape", "Stocks")</button>*@
<br /><br />
<table class="table">
    <tr>
        <th>Symbol</th>
        <th>Last Price</th>
        <th>Change</th>
        <th>% Change</th>
        <th>Volume</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Symbol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Change)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PChange)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Volume)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
